@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  
    display:flex;
    flex-direction:column;
    justify-items:center;
    /* width:100vw; */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: "Courier Prime", monospace;
}
body{
  display:flex;
  justify-content:flex-start;
  align-items: flex-start;
  min-height: 100vh; 
  background: #434750;
}
.leftNav{
  position: relative;
  transform: skewY(-15deg);
  transition:.5s;
  margin-left:-250px;
  /* margin-top:68px;
  margin-left:35px;
  margin-right:250px; */
}
.leftNav li {
  position:relative;
  list-style: none;
  width: 200px;
  background:#3e3f46;
  padding:15px;
  z-index: var(--i);
  transition:.5s;
}
.leftNav li:hover{
  background:#33a3ee;
  transform: translateX(50px);
}
.leftNav li:hover::before{
  background:#1f5378;
}
.leftNav li::before{
  content: '';
  position:absolute;
  top:0;
  left:-40px;
  width:40px;
  height:100%;
  background:#3e3f46;
  transform-origin: right;
  transform: skewY(45deg);
  transition:.5s;
}
.leftNav li::after{
  content: '';
  position:absolute;
  top:-40px;
  left:0;
  width:100%;
  height:40px;
  background:#3e3f46;
  transform-origin: bottom;
  transform: skewX(45deg);
  transition:.5s;
}
.leftNav li:hover::after{
  background:#2982b9;
}
.leftNav li a {
  text-decoration: none;
  color:#999;
  display:block;
  text-transform: uppercase;
  letter-spacing: .05em;
  transition:.5s;
}
.leftNav li:hover a{
  color:#fff;
}
.leftNav li:last-child::after{
  box-shadow: -100px 100px 20px rgba(0,0,0,1);
}
/*********************************************************active nav css *************************/
.active {
  box-shadow: inset 0 1px 0 0 #dcecfb;
  background: #bddbfa linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
  border: 1px solid #84bbf3;
  color: #ffffff;
  text-shadow: 0 1px 0 #528ecc;
}

header{
  border: 3px solid red;
  width:100vw;
}

main {
  border: 3px solid blue;
  width:100vw;
  display:flex;
  justify-content: center;  
}

nav{
  border: 3px solid yellow;
  block-size: fit-content;
}
.glow-wrapper, ::before, ::after {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    --tw-contain-size: ;
    --tw-contain-layout: ;
    --tw-contain-paint: ;
}